.myleftbutton {
    width:18px;
    margin-right:30px;
    position: fixed;
    top: 50%; left: 0%   /* width: 50%;
    border: 1px solid gray;
    margin: 0 auto;*/
    /*top: 0; left: 0; bottom: 0; right: 0;*/
}


.backbutton {
    background-image:url("images/back.svg");
    background-repeat:no-repeat;
    background-color:transparent;
    height:30px; width:30px;
    display:inline-block;
    position: fixed;
    top: 50%; left: 0%;
    z-index: 999;
}
.forwardbutton {
    background-repeat: no-repeat;
    background-image: url("images/forward.svg");
    background-color: transparent;
    height:30px; width:30px;
    display:inline-block;
    position: fixed;
    top: 50%; right: 0%;
    z-index: 999;
}