{% extends 'manati_ui/base.html' %}
{% block title %}
    <div class="row">
        <div class="col-md-10">

            New Profile Session - <span id="weblogfile-name"></span><input type="text" maxlength="60" id="edit-input" />
            <a id="sync-db-btn" style="display: none;" href="#" class="btn btn-success"><i class="fa fa-refresh" aria-hidden="true"></i> Sync</a>
            {% load staticfiles %}
            <img id="loading-img" width="33" style="display: none;" src="{% static 'manati_ui/images/ajax-loader.gif' %}"/>
        </div>
        <div class="col-md-2 ">
            {% if user.is_authenticated %}
                <div id="public-btn">
                    <input type="checkbox"  {{ analysissession.public|yesno:"checked,''" }} data-toggle="toggle"
                           data-on="<i class='fa fa-share-alt'></i> is Public"
                           data-off="<i class='fa fa-ban'></i> No Public"
                           data-onstyle="success" data-offstyle="danger" id="share-checkbox" >

                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="row" id="analysis-session-page">
        <div class="col-md-9 col-md-offset-3" id="wrap-form-upload-file">
            <form enctype="multipart/form-data" role="form" class="form-inline">
                <div class="form-group">
                   <h4>Add Profile file</h4>

                </div>
                <div class="form-group">
                    <div class="input-group">
                        <label class="input-group-btn">
                            <span class="btn btn-success">
                                Browse&hellip; <input type="file" id="visualize_profile" style="display: none;" multiple>
                            </span>
                        </label>
                        <input type="text" class="form-control" readonly>
                    </div>
{#                    <button onclick="abortRead();">Cancel read</button>#}
{#                    <div id="progress_bar"><div class="percent">0%</div></div>#}
{#                    <input type="button" id="upload" class="btn btn-default" value="Upload File"/>#}
                    {% if user.is_authenticated %}
                        <input type="button" id="save-table" class="btn btn-primary" value="Save!" />
                    {% endif %}
                    <!--<input type="button" id="show-raw-json" class="btn btn-primary" value="Show JSON" />-->



{#                    <progress></progress>#}

                </div>
                <div class="form-group">
                    <div id="loading-circle" style="margin-bottom: 39px"></div>
                </div>

            </form>
        </div>
    </div>
    <div class="row">
        <input type="button" id="backbutton"    class="backbutton btn">
        <input type="button" id="forwardbutton" class="forwardbutton btn">
        <div class="col-md-12">
            <div id="viztext" style="display: none;">
                <h2>Visualization</h2>
            </div>
            <div class="btn-groupIPS" role="group" aria-label="..." style="display: none;">
            </div>
            <div class="btn-groupDays" role="group" aria-label="..." style="display: none;">
            </div>

            <div id="ipsumarytext" style="display: none;">
                <h3>IP Sumary</h3>
            </div>
            <div class="btn-groupHours" role="group" aria-label="..." style="display: none;">
            </div>
             <ul class="nav nav-tabs" id="featurestabs" style="visibility: hidden">
                 <li class="active"><a data-toggle="tab" href="#sumary_tab">Hour Sumary</a></li>
                 <li><a data-toggle="tab" href="#regions_tab">Regions</a></li>
                 <li><a data-toggle="tab" href="#histograms_tab">Histograms</a></li>
                 <li><a data-toggle="tab" href="#tables_tab">Tables</a></li>
                 <li><a data-toggle="tab" href="#json_tab">JSON</a></li>

             </ul>
             <div class="tab-content">
                 <div id="sumary_tab" class="tab-pane active">
                     <!-- div for the Google charts -->
                     <div id="sumary_table"></div>
                 </div>
                 <div id="regions_tab" class="tab-pane">
                     <div id="regions_div"></div>
                 </div>
                 <div id="histograms_tab" class="tab-pane">
                     <div class="checkbox text-center">
                        <label style="font-size: 2em">
                            <input id="logcheckbox" type="checkbox" value="" checked>
                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                            Use logarithm scale
                        </label>
                    </div>
                     <div id="histograms_div"></div>
                  </div>
                 <div id="tables_tab" class="tab-pane">
                    <div id="table_div"></div>
                 </div>
                 <div id="json_tab" class="tab-pane">
                       <div id='jsonviz'></div>
                 </div>
             </div>
        </div>
    </div>
    {% include 'manati_ui/analysis_session/modal_vt.html' %}
    <style>
    #weblogfile-name:hover{
        cursor: pointer;

    }
    </style>
    <script type="text/javascript">
        VERSION_APP = '{% version_app %}';
        var logic = new AnalysisSessionLogic();
        logic.init();

    </script>
{% endblock %}
